body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    place-items: center;
}
html {
    scroll-behavior: smooth;
}
h1, h2, p{
    text-align: center;
    color: navy;
}
form {
    margin: 20px 0;
}
input, button {
    padding: 5px;
    margin: 5px 0;
}
button {
    background: rgb(111, 111, 111);
    color: white;
    border: none;
}
img {
    max-width: 200px;
    height: auto;
}
#image-preview {
    margin: 10px 0;
}
@media (max-width: 600px) {
    body {
        margin: 10px;
    }
    img {
        max-width: 100%;
    }
}
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
video, canvas {
    display: block;
    margin: 0 auto;
}